@model IEnumerable<QuizinatorCore.Entities.Idiom>

@{
    ViewData["Title"] = "Select Idioms";
}

<h1>Select Idioms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdiomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sentence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdiomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sentence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
