@model QuizinatorCore.Entities.Idioms.Idiom

<h1>Details</h1>

<div>
    <h4>Idiom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdiomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdiomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sentence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sentence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
    </dl>
</div>

@{
    // set default votes info
    int voteCount = 0;
    int currentRating = 0;
    string voteLabel = "Be the first to vote! ";

    updateVotesInfo();
}

<div>
    <span>@voteLabel</span>

    @{
        const int numberOfStars = 5;
        for (int i = 0; i < numberOfStars; i++)
        {
            int currentStar = i + 1;
            if (currentStar <= currentRating)
            {
                <text>
                    <a class="fa fa-star checked"
                          href='@Url.Action("SubmitRating", new { id = Model.IdiomId, rating = currentStar })'>
                    </a>
                </text>
            }
            else
            {
                <text>
                    <a class="fa fa-star"
                          href='@Url.Action("SubmitRating", new { id = Model.IdiomId, rating = currentStar })'>
                    </a>
                </text>
            }
        }
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdiomId }) |
    @Html.ActionLink("Back to List", "Index")
</div>

@{
    void updateVotesInfo()
    {
        if (Model.Ratings != null)
        {
            voteCount = Model.Ratings.Count();
            currentRating = Model.Ratings.Sum() / voteCount;
            voteLabel = voteCount > 1 ? (voteCount + " votes") : voteCount + " vote";
        }
    }
}